@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Body shared styles */
.display-flex {
  display: flex;
}

/* Dark 01 color */
.text-gray1 {
  color: #131313;
}

/* Dark 02 color */
.text-gray2 {
  color: #424242;
}

/* Dark 03 color */
.text-gray3 {
  color: #727272;
}

.text-orange {
  color: #FF900E;
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  font-weight: 400;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}

/* Header styles */

.header {}

.navbar {
  justify-content: space-between;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-ul {
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

/* .navbar-ul li{
    text-decoration: none;
    list-style: none;
} */

/* for li */
.nav-item {
  text-decoration: none;
  list-style: none;
}

/* for a */
.nav-link {
  text-decoration: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
}

/* Main team and feature related styles here */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

.quick-list {
  font-weight: 500;
}

/* Love and Enjoy related styles */
.enjoy-love {
  flex-direction: row;
  justify-content: space-between;
  /* width: 1440px;
  height: 1050px; */
  margin-bottom: 180px;
}

.enjoy-love-div1 {
  flex-direction: column;
  align-items: center;
}

.enjoy-love-div-box {
  width: 586px;
  height: 171px;
  padding: 30px;
  fleborder-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.enjoy-love-div2 {
  position: relative;
  color: #FFFFFF;
}

.enjoy-love-div2-box {
  position: absolute;
  width: 342px;
  height: 250px;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 420px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
}
.enjoy-love-div2-box-div {
  align-items: center;
  padding: 20px;
}

/* Some facts related styles */

.some-facts{
  flex-direction: column;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}

.fact-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: 1px solid #FF900E;
  border-radius: 8px;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}


/* Footer and Sponsor related styles */
footer {
  margin-top: 180px;
}

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-img-info {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 130px;
}

.sponsor-img-info img {
  width: 120px;
  height: 50px;
}

.copyright {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgb(255, 244, 231);
}

/* Responsive query start here */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-ul,
  .teams {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    margin-left: 0 auto;
  }

  .enjoy-love {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .enjoy-love-div2 img{
    width: 100%;
  }
  .enjoy-love-div2-box{
    position: static;
    padding: 0 40px;
  }
  .some-facts{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .facts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .sponsor-img-info{
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {

  .navbar,
  .nav-ul,
  .teams {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-img-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-features {
    margin-left: 20px auto;
  }

  .enjoy-love {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .enjoy-love-div2 img{
    width: 100%;
  }
  .some-facts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .facts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .sponsor-img-info{
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
}